<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.Aydın Bekem</title>
</head>
<body>
    <div>
        <h1><a href="/">Mehmet Aydın Bekem</a></h1>
    </div>


    <div>
        <p>published: 05.01.2021, 14:14</p>
        <h2><a href="">İlk Blogum</a></h2>
        <p>Bu bir deneme yazısı</p>

        <p>published: 05.01.2021, 15:14</p>
        <h2><a href="">İkinci Blogum</a></h2>
        <p>Bu bir deneme yazısı2</p>
    </div>

</body>
</html>